*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: Futura, sans-serif;
    display:grid;
    grid-template-columns: repeat(6, 16.7%);
    font-size: 16px;
}

header, footer{
    grid-column: 1 /7;
    width: 100vw;
    background-color: #ACDBE5;
}

h1, .copyright{
    margin: 5vh auto;
    text-align: center;
}

.sidebar{
    grid-column: 1 /2;
    background-color: blueviolet;
}

.sidebar ul{
    margin-top:4vh;
}
.sidebar li{
    font-size: 20px;
    margin-bottom: 2vh;
}

.sidebar a{
    text-decoration: none;
    color: #000000;
}
.sidebar a:hover{
    color: #ACDBE5;
}

.container{
    grid-column: 2 /7;
}
.inner-container{
    background-color: darksalmon;
}

li{
    list-style: none;

}

.copyright{
    font-size: 14px;
}
